@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');
* {
    font-family: 'Roboto Condensed';
    font-size: 18px;
    line-height: 3.5em;
    font-weight: 300;
}

body {
    background-image: url("http://www.kinyu-z.net/data/wallpapers/171/1303644.jpg");
}

.title {
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px black;
}

.result {
    height: 4rem;
    background-color: rgb(34, 34, 34);
    width: 262px;
    border: 1px solid white;
}

.result span {
    padding: 0.25rem;
    color: white;
    text-align: right;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.row-1 {
    display: flex;
}

#clear {
    width: 132px;
    padding: 0 64px;
    background-color: Red;
}

.row-2 {
    display: flex;
}

.row-3 {
    display: flex;
}

.row-4 {
    display: flex;
}

.row-5 {
    display: flex;
}

#zero {
    width: 132px;
    padding: 0 64px;
}

#equals {
    background-color: rgb(55, 164, 201);
}

button {
    transition-duration: 0.4s;
    background-color: gray;
    width: 64px;
    padding: 0 32px;
    color: white;
    border: 1px solid white;
    opacity: 0.9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    background-color: lightblue;
}

button:active {
    opacity: 1;
    border-color: black;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signature {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(20, 20, 20);
    text-shadow: 1px 1px gray;
}