body {
    background-color: #e9e2cf;
    padding: 0;
    margin: 0;
}

.calculator {
    margin: 4rem auto;
    padding: 0.5rem;
    text-align: center;
    max-width: 350px;
    background-color: #4C7513;
    border-radius: 0.25rem;
}

.screen {
    background-color: #121908;
    height: 80px;
    margin: 0.5rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1rem;
    overflow: hidden;
    white-space: nowrap;
}

#user-input {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}

.row {
    display: flex;
    justify-content: space-around;
}

.row button {
    padding: 1rem;
    margin: 0.25rem;
    width: 20%;
    border-radius: 0.25rem;
    color: #fff;
    font-size: 1.75rem;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border: 1px solid #2D4E00;
}

#equals {
    width: 45%;
    background-color: #317589;
}
#equals:hover {
    background-color: #044F67;
}

.reset {
    background-color: #C91F37;
}
.reset:hover {
    background-color: #8F1D21;
}

.calc-button {
    background-color: #9AC361;
}
.calc-button:hover {
    background-color: #709C34;
}
